.card {
    border-radius: 5px;
    height: 205px;
    margin: 1rem;
    position: relative;
    width: 150px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  }

.card :hover{
  transition: all .4s ease-in-out; 
  transform: scale(1.1);
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.card:active {
  transform: translate(1px, 1px);
}

  img {
    max-width: 100%;
    height: auto;
    padding: 2px;
    border-radius:5px; 
  }